extends /layout/_default-layout

prepend config-block
    - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
    //- todo 後でマークアップする
    .container
        header header
        aside aside
        main main
        footer footer