.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
        'header header'
        'aside  main'
        'aside  footer';
    height: 100vh;
}

aside {
    grid-area: aside;
    background: #8289BC;
}

header {
    grid-area: header;
    background: #71CBC4;
}

main {
    grid-area: main;
    background: #E58574;
}

footer {
    grid-area: footer;
    background: #9874C1;
}